/* google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Work Sans", sans-serif;
}
/* shared style */

.btn-primary{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    background: rgb(255, 144, 14);
}
.section-title{
    font-size: 45px;
    font-weight: 700;
    line-height: 40px;
    color: rgb(19, 19, 19);
}
.secondary-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
    color: rgb(114, 114, 114);
}


/* .navbar styles */

#header-section{
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.navbar h1{
    font-size: 45px;
    font-weight: 700;
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-links a{
    margin-left: 30px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(66, 66, 66);
}


/* banner styles */

.banner{
    padding-bottom: 100px;
    margin-bottom: 100px;
}
.banner-texts{
    width: 862px;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 40px;
}
.banner-texts h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 15px;
}
.banner-texts p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
    color: rgb(114, 114, 114);
}
.banner-image{
    width: 100%;
}


/* our features */
#our-features{
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 50px;
    padding: 0 50px;
}
.our-feature-content{
    display: flex;
}
.feaures-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.features-text{
    font-size: 45px;
    font-weight: 700;
    margin-left: 80px;
    height: 400px;    
}
.features-text-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.features-text h1{
    margin-bottom: 20px;
}
.features-text p{
    width: 537px;
}
.quick-list{
    font-weight: 500;
}
.our-features-color{
    color: #ff900e;
}

/* features you will love section */

#lovely-features{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 100px;
}
.lovely-features-text{
    width: 50%;
    padding-right: 100px;
}
.lovely-features-text h1{
    width: 470px;
    padding-left: 20px;
    margin-bottom: 20px;
    border-left: 10px solid #ff900e;
}
.lovely-text{
    margin-bottom: 20px;
}
.features-card{
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}
.features-card h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 18px;
    color: rgb(19, 19, 19);
}
.lovely-features-image{
    width: 50%;
    position: relative;
}  
.about-architect{
    width: 340px;
    height: 200px;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -20px;
    left: -70px;
    background-color: #ff900e;
}
.about-architect h1{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    color: white;
}
.about-architect h5{
    font-size: 30px;
    font-weight: 500;
    color: white;
}

/* some facts */
#some-facts{
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.facts-title{
    margin-bottom: 20px;
}
.facts-text{
    width: 540px;
    margin-bottom: 80px;
}
.facts-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-around;
}
.card{
    text-align: center;
    border-radius: 8px;
    padding: 30px;
    width: 240px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 1px solid #ff900e;
}
.card h4{
    font-size: 45px;
    font-weight: 600;
    line-height: 53px;
    margin: 10px 0;
    color: rgb(66, 66, 66);
}
.card p{
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    color: rgb(114, 114, 114);
}


/* our sponsors */
#our-sponsors{
    max-width: 1440px;
    margin: 0 auto;
}
.sponsors-title{
    text-align: center;
    margin-bottom: 20px;
}
.sponsors-text{
    width: 540px;
    margin: 0 auto;
    text-align: center;
}
.sponsor-images{
    margin: 50px 0 100px 0;
    display: flex;
    justify-content: space-between;
}
.sponsor-images img{
    filter: grayscale(100);
}


/* footer style */
.footer-text{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 0;
    color: rgb(66, 66, 66);
    background-color: #fff4e7;
}




/* responsive media query for mobile*/

@media screen and (max-width: 576px){
    .navbar, .nav-links{
        flex-direction: column;
    }
    #header-section{
        width: 100%;
    }
    .navbar{
        padding: 10px;
    }
    .navbar h1{
        font-size: 30px;
        font-weight: 700;
        margin-top: 0;
    }
    .nav-links li{
        text-align: center;
        margin: 5px;
    }
    .nav-links a{   
        margin-left: 0;
    }
    .banner{
        padding: 0 20px 20px 20px;
        margin-bottom: 0px;
    }
    .banner-texts{
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .banner-texts h1{
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
    }
    .banner-texts p{
        color: rgb(114, 114, 114);
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    /* our-feature-content */
    #our-features{
        padding: 0 20px;
        margin-bottom: 0;
        margin-top: 20px;
    }
    .our-feature-content{
        flex-direction: column;
    }
    .feaures-images{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 20px;
    }
    .feaures-images img{
        width: 100%;
    }
    .features-text-container{
        flex-direction: column;
    }
    .features-text {
       width: 100%;
       margin: 20px 20px 0 20px;
    }
    .features-text h1{
        font-size: 2rem;        
     }
    .features-text p{
        width: 100%;
        margin-bottom: 10px;
     }

     /* lovely-features */

     #lovely-features{
        flex-direction: column;
        padding: 0 20px;
        margin-bottom:50px;
     }
     .lovely-features-text{
        width: 100%;
        padding-right: 0px;
    }
    .lovely-features-text h1{
        width: 100%;
        font-size: 2rem;
    }
    .features-card{
        padding: 20px;
        margin-bottom: 20px;
    }
    .lovely-features-image{
        width: 100%;
    }
    .lovely-features-image img{
        width: 100%;
    }
    .about-architect{
        bottom: -80px;
        left: -100px;
        scale: .5;
    }

     /* some facts */

     #some-facts{
        padding: 0 20px;
        margin-bottom: 20px;
     }
     .facts-text{
        width: 100%;
        margin-bottom: 20px;
     }
     .some-facts-title{
        margin-bottom: 20px;
        font-size: 2rem;
     }
     .facts-title h1{
        font-size: 2rem;
     }
     .facts-card{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }


    /* our sponsors */

    #our-sponsors{  
        padding: 0 20px;     
    }
    .sponsors-text{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .sponsors-title{
        font-size: 2rem;
    }
    .sponsor-images{
        width: 100%;
        display: grid;
        gap: 20px;
        padding: 30px 0;
        margin: 0;
        grid-template-columns: repeat(5,1fr);
    }
    .sponsor-images img{
        width: 100%;
    }
    
     /* footer */
    .footer-text{
        padding: 20px;
        width: 100%;
        font-size: 16px;
        text-align: center;
    }    
}

/* responsive media query for tablet*/

@media screen and (min-width: 576px) and (max-width: 992px){    
    #header-section{
        width: 100%;
    }
    .navbar{
        padding: 20px;
    }
    .nav-links li{
        text-align: center;
        margin: 5px;
    }
    .banner{
        padding: 0 20px 20px 20px;
        margin-bottom: 20px;
    }
    .banner-texts{
        width: 100%;
    }

    /* our-feature-content */
    #our-features{
        padding: 0 20px;
        margin-bottom: 0;
        margin-top: 20px;
    }
    .our-feature-content{
        flex-direction: column;
    }
    .feaures-images{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 20px;
    }
    .feaures-images img{
        width: 100%;
    }
    .features-text {
       width: 100%;
       margin: 20px;
       line-height: 75px;
    }
    .features-text p{
        width: 100%;
        text-align: justify;    
     } 

     /* lovely-features */

     #lovely-features{        
        padding: 0 20px;
        margin-bottom:30px;
        flex-direction: column;
     }
     .lovely-features-text{
        width: 100%;
        margin-right: 20px;
        padding-right: 0px;
    }  
    .lovely-features-image{
        width: 100%;
    }
    .lovely-features-image img{
        width: 100%;
    }
    .about-architect{
        bottom:-50px ;
        left: -10px;   
        margin-bottom: 50px;
    }

     /* some facts */

     #some-facts{
        padding: 0 20px;
        margin-bottom: 50px;
     }   
     .facts-text{
        margin-top: 10px;
        margin-bottom: 50px;
     }  
     .facts-card{
        max-width: 75%;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        margin: 0 auto;
    }    

    /* our sponsors */

    #our-sponsors{
        padding: 0 20px;     
    }
    .sponsor-images{
        margin-bottom: 50px;
        width: 20%;
    }
    .sponsor-images img{
        width: 100%;
        padding: 0 10px;
    }
}


/* media screen for laptop or large device */

@media screen and (min-width: 992px) and (max-width: 1440px){
    #header-section{
        padding: 0 20px;
    }
    .feaures-images{
        width: 50%;
    }
    .feaures-images img{
        width: 100%;
    }
    .features-text-container{
        width: 50%;
    }
    .features-text{
        margin-left: 50px;
    }
    .features-text h1{
        font-size: 3rem;
    }
    .features-text P{
        width: 100%;
    }
    #lovely-features{        
        padding: 0 20px;
        margin-bottom:30px;
     }
     .lovely-features-text{
        width: 100%;
        margin-right: 20px;
        padding-right: 0px;
    } 
    .lovely-features-image{
        width: 50%;
    }
    .lovely-features-image img{
        width: 100%;
    } 
    .about-architect{
        bottom: 450px;
        left: -10px;
        scale: .7;   
    }
    #some-facts{
        padding: 0 20px;
    }
    #our-sponsors{
        padding: 0 20px;
    }
}