/* google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Work Sans", sans-serif;
}

/* shared style */

.btn-primary{
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    background: rgb(255, 144, 14);
}
.secondary-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
    color: rgb(114, 114, 114);
}


/* .navbar styles */

#header-section{
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.navbar h1{
    font-size: 45px;
    font-weight: 700;
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-links a{
    margin-left: 30px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(66, 66, 66);
}


/* banner styles */

.banner{
    padding-bottom: 100px;
    margin-bottom: 100px;
}
.banner-texts{
    width: 862px;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 40px;
}
.banner-texts h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 15px;
}
.banner-texts p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
    color: rgb(114, 114, 114);
}
.banner-image{
    width: 100%;
}


/* our features` */
#our-features{
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 0 50px;
}
.our-feature-content{
    display: flex;
}
.feaures-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.features-text{
    font-size: 45px;
    font-weight: 700;
    margin-left: 80px;
    height: 400px;    
}
.features-text-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.features-text h1{
    margin-bottom: 20px;
}
.features-text p{
    width: 537px;
}
.quick-list{
    font-weight: 500;
}
.our-features-color{
    color: #ff900e;
}











/* responsive media query for mobile*/

@media screen and (max-width: 576px){
    .navbar, .nav-links{
        flex-direction: column;
    }
    #header-section{
        width: 100%;
    }
    .navbar{
        padding: 10px;
    }
    .navbar h1{
        font-size: 30px;
        font-weight: 700;
        margin-top: 0;
    }
    .nav-links li{
        text-align: center;
        margin: 5px;
    }
    .nav-links a{   
        margin-left: 0;
    }
    .banner{
        padding: 0 20px 50px 20px;
    }
    .banner-texts{
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .banner-texts h1{
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
    }
    .banner-texts p{
        color: rgb(114, 114, 114);
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
    }
}